<div class="user-info">
  <div class="notifications">
    <i class="far fa-bell"></i>
    <span class="notification-badge">3</span>
  </div>
  <div class="user">
    <span class="user-name"><%=`${user.nom} ${user.prenom}`%></span>
    <span class="user-email"><%=user.email%></span>
    <div class="user-avatar"><%=user.nom[0].toUpperCase()%></div>
  </div>
</div>
